<div class="header">
  <h1 class="title">
    <% if (page.category) { %>
      <%- page.category %>
    <% }else if (page.tag) { %>
      <%- page.tag %>
    <% }else{ %>
      <%- __('Menu.Archives') %>
    <% } %>
  </h1>
  <div class="meta">
    <% if (page.category) { %>
      <%- _p('Archives.Categories',page.category) %>
    <% }else if (page.tag) { %>
      <%- _p('Archives.Tags',page.tag) %>
    <% }else if(url_for(page.path)==url_for(theme.Menu.Archives)) { %>
      <%- _p('Archives.Archives',site.posts.length)%>
    <% }else{ %>
      <%- __('Archives.Dates')%>
    <% } %>
    </div>
</div>
<div class="post-text archives">
  <ol class="timeline">
  <% Lyear = -1, Lmonth = -1, Ldate = -1; %>
  <% page.posts.each( function (post) { %>
    <li>
      <% Year = post.date.year(), Month = post.date.month(); %>
      <% if ( Lyear != Year ){ %>
        <t><a href="/archives/<%- Year %>/index.html">Year <%- Year %></a></t>
        <% Lyear = Year; Lmonth = -1; %>
      <% } %>
      <% if ( Lmonth != Month ){ %>
        <% Smonth = Month + 1; if ( Smonth <= 9 ) Smonth = "0" + Smonth.toString(); %>
        <t><a href="/archives/<%- Year %>/<%- Smonth %>/index.html">Month <%- Smonth %></a></t>
        <% Lmonth = Month; %>
      <% } %>
      <% if (Ldate != date(post.date, "YYYY-MM-DD")){ %>
        <% Ldate = date(post.date, "YYYY-MM-DD"); Lflag = 1; %>
        <b class="date"><%- Ldate %></b>
      <% } %>
      <p><a class="title" href="<%- url_for(post.path) %>">
        <% if(post.title){ %>
          <%- post.title %>
        <% }else{ %>
          <%- __('NoTitle') %>
        <% } %>
      </a></p>
    </li>
  <% }) %>
  </ol>
</div>
<%- partial('_partial/paginator') %>