<div class="header">
  	<h1 class="title">
  	    <% if (page.category) { %>
  	      <%= page.category %>
  	    <% }else if (page.tag) { %>
  	      <%= page.tag %>
  	    <% }else{ %>
  	      <%= __('Menu.Archives') %>
  	    <% } %>
  	</h1>
  	<div class="meta">
  	    <% if (page.category) { %>
  	      <%= _p('Archives.Categories',page.category) %>
  	    <% }else if (page.tag) { %>
  	      <%= _p('Archives.Tags',page.tag) %>
        <% }else if(url_for(page.path)==url_for(theme.Menu.Archives)) { %>
          <%= _p('Archives.Archives',site.posts.length)%>
  	    <% }else{ %>
  	      <%= __('Archives.Dates')%>
  	    <% } %>
  	</div>
</div>
<div class="post-text archives">
  <details class="pre">
    <summary><%= __('Archives.ShowDates')%></summary>
    <a href="/archives/" class="archives-date">All</a><br />
    <% var lastyear=-1,lastmonth=-1; %>
    <% page.posts.each(function (post) { %>
        <% var year=post.date.year(),month=post.date.month(); %>
        <% if(lastyear != year){ %>
            <% if(lastyear!=-1) { %><br /><% } %>
            <a href="/archives/<%= year %>/" class="archives-date"><%= year %></a>
            <% lastyear=year;lastmonth=-1; %>
        <% } %>
        <% if(lastmonth != month){ %>
          <% var Month=month+1; if(Month<=9) Month="0"+Month.toString(); %>
            <a href="/archives/<%= year %>/<%= Month %>/" class="month"> <%= Month %></a>
          <% lastmonth=month; %>
        <% } %>
    <% }) %>
  </details>

  	<ol class="timeline">
  	<% lastyear=-1,lastmonth=-1; %>
    <% page.posts.each(function (post) { %>
      <li>
      	<% var year=post.date.year(),month=post.date.month(); %>
      	<% if(lastyear != year){ %>
      		<h2><%= year %></h2>
      		<% lastyear=year;lastmonth=-1; %>
      	<% } %>
      	<% if(lastmonth != month){ %>
          <% var Month=month+1; if(Month<=9) Month="0"+Month.toString(); %>
      		<h3><%= month+1 %></h3>
      		<% lastmonth=month; %>
      	<% } %>
        <b class="date"><%= date(post.date, "YYYY-MM-DD") %></b>
        <a class="title" href="<%- url_for(post.path) %>">
          <% if(post.title){ %>
            <%= post.title %>
          <% }else{ %>
            <%= __('NoTitle') %>
          <% } %>
        </a>
      </li>
    <% }) %>
    </ol>
</div>
<%- partial('_partial/paginator') %>