<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body style="background-image: url(<%= theme.imgcdn %><%= theme.bg_url %>);">
    <div id="siteLoading" class="siteloading">
    <div class="loader-inner">
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
    </div>
    </div>
		<%- partial('_partial/topbar') %>
		<div id="pjax">
      <%- partial('_partial/sidebar') %>
		  <div class="article">
        <div class="vertical fake-sidebar"></div>
        <div class="vertical post">
          <% if( theme.site_warning.enable=="all" || (theme.site_warning.enable=="root" && url_for(path)==config.root) ){ %>
            <div class="alert alert-<%= theme.site_warning.type %> alert-dismissible fade show" style=" margin:0;"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><%- theme.site_warning.text %></div>
          <% } %>
          <%- body %>
          <div class="avatar-container" style="padding: 50px;">
            <img src="<%= theme.imgcdn %><%= theme.avatar.url %>" class="avatar <%= theme.avatar.effect %>" style="height: 12%; width: 12%;"/>
            <div style="text-align: center; margin-top: 3%;">By <%= config.author %>.</div>
          </div>
        </div>
        <%- partial('_partial/toolbar') %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/foot') %>
  </body>
</html>