<div class="header">
  	<h1 class="title">
  	    <%= __('Menu.Settings') %>
  	</h1>
  	<div class="meta">
  	    <%= __('Settings.Help') %>
  	</div>
</div>
<div class="post-text">
	<p><%= __('Settings.Cookie') %></p>
	<table style="white-space: nowrap;">
		<tr>
			<th colspan="2">Items</th>
			<th>Options</th>
		</tr>
		<tr>
			<td colspan="2"><%= __('Settings.Color') %></td>
			<td>
				<div class="btn-group">
    				<button type="button" class="btn btn-primary" onclick="saveData('color','1');">None</button>
    				<button type="button" class="btn btn-primary" onclick="saveData('color','2');">Standard</button>
    				<button type="button" class="btn btn-primary" onclick="saveData('color','3');">White</button>
    				<button type="button" class="btn btn-primary" onclick="saveData('color','4');">Night</button>
    				<button type="button" class="btn btn-primary" onclick="saveData('color','5');"></button>
  				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><%= __('Settings.Special') %></td>
			<td>
				<div class="btn-group">
    				<button type="button" class="btn btn-secondary" onclick="saveData('special','1');">None</button>
    				<button type="button" class="btn btn-secondary" onclick="saveData('special','2');">Gray</button>
    				<button type="button" class="btn btn-secondary" onclick="saveData('special','3');">Invert</button>
            <button type="button" class="btn btn-secondary" onclick="saveData('special','4');">Blur</button>
  				</div>
			</td>
		</tr>
		<tr>
			<td rowspan="4"><%= __('Settings.Others') %></td>
			<td><%= __('Settings.Toolhide') %></td>
			<td>
				<div class="btn-group">
    				<button type="button" class="btn btn-success" onclick="saveData('toolbar','1');">Enable</button>
    				<button type="button" class="btn btn-success" onclick="saveData('toolbar','2');">Disable</button>
  				</div>
			</td>
		</tr>
	  <tr>
      <td><%= __('Settings.Removr') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" onclick="saveData('removevr','1');">Enable</button>
          <button type="button" class="btn btn-danger" onclick="saveData('removevr','2');">Disable</button>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= __('Settings.RemoveMt') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-info" onclick="saveData('removemt','1');">Enable</button>
          <button type="button" class="btn btn-info" onclick="saveData('removemt','2');">Disable</button>
        </div>
      </td>
    </tr>
  	<tr>
			<td><%= __('Settings.PageStr') %></td>
  		<td>
  			<div class="btn-group">
    			<button type="button" class="btn btn-warning" onclick="saveData('stretch','1');">Enable</button>
    			<button type="button" class="btn btn-warning" onclick="saveData('stretch','2');">Disable</button>
  			</div>
  		</td>
  	</tr>
    <tr>
      <td colspan="2"><%= __('Settings.Reset') %></td>
      <td><button type="button" class="btn btn-outline-secondary" onclick="localStorage.clear()">Reset</button></td>
    </tr>
  </table>
</div>