<div class="header">
  <h1 class="title">
    <%- __('Menu.Settings') %>
  </h1>
  <div class="meta">
    <%- __('Settings.Help') %>
  </div>
</div>
<div class="post-text">
  <p><%- __('Settings.Cookie') %></p>
  <table style="white-space: nowrap;">
    <tr>
      <th colspan="2">Items</th>
      <th>Options</th>
    </tr>
    <tr>
      <td colspan="2"><%- __('Settings.Color') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" onclick="saveData('color','1')">None</button>
          <button type="button" class="btn btn-primary" onclick="saveData('color','2')">Standard</button>
          <button type="button" class="btn btn-primary" onclick="saveData('color','3')">White</button>
          <button type="button" class="btn btn-primary" onclick="saveData('color','4')">Night</button>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><%- __('Settings.Special') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" onclick="saveData('special','1')">None</button>
          <button type="button" class="btn btn-secondary" onclick="saveData('special','2')">Gray</button>
          <button type="button" class="btn btn-secondary" onclick="saveData('special','3')">Invert</button>
          <button type="button" class="btn btn-secondary" onclick="saveData('special','4')">Blur</button>
        </div>
      </td>
    </tr>
    <tr>

      <% var rowspan = 4,ok1 = 1,ok2 = 1,ok3 = 1; %>
      <% if(theme.colored_eggs.type!="natsuki" && theme.colored_eggs.type!="santa"){ %>
      <%     ok1 = 0; rowspan--; } %>
      <% if(!theme.meting.enable){ %>
      <%     ok2 = 0; rowspan--; } %>
      <% if(!theme.toolbar_enable){ %>
      <%     ok3 = 0; rowspan--; } %>

      <td rowspan="<%- rowspan %>"><%- __('Settings.Others') %></td>
      <td><%- __('Settings.PageStr') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-warning" onclick="saveData('stretch','1')">Enable</button>
          <button type="button" class="btn btn-warning" onclick="saveData('stretch','2')">Disable</button>
        </div>
      </td>
    </tr>
    <% if(ok1){ %>
    <tr>
      <td><%- __('Settings.DisVRecord') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" onclick="saveData('disVRecord','1')">Enable</button>
          <button type="button" class="btn btn-danger" onclick="saveData('disVRecord','2')">Disable</button>
        </div>
      </td>
    </tr>
    <% }if(ok2){ %>
    <tr>
      <td><%- __('Settings.DisAplayer') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-info" onclick="saveData('disAplayer','1')">Enable</button>
          <button type="button" class="btn btn-info" onclick="saveData('disAplayer','2')">Disable</button>
        </div>
      </td>
    </tr>
    <% }if(ok3){ %>
    <tr>
      <td><%- __('Settings.Toolhide') %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-success" onclick="saveData('toolbar','1')">Enable</button>
          <button type="button" class="btn btn-success" onclick="saveData('toolbar','2')">Disable</button>
          </div>
      </td>
    </tr>
    <% } %>
    <tr>
      <td colspan="2"><%- __('Settings.Reset') %></td>
      <td><button type="button" class="btn btn-outline-secondary" onclick="localStorage.clear()">Reset</button></td>
    </tr>
  </table>
</div>