<div class="footer">
  <p class="text-left"><%- theme.footer.left %></p>
  <p class="text-right"><%- theme.footer.right %></p>
</div>

<%- partial('./animation') %>

<% if(theme.colored_eggs.reverse) { %>
	<script>Fool();</script>
<% }if(theme.special){ %>
	<script>if(!readData("special")) $("html").addClass("<%= theme.special %>");</script>
<% } %>

<script>
	if(!readData("color")) $("html").addClass("color-<%= theme.color_schemes %>");
	$('img').attr("onerror","this.src='<%= theme.img_default %>';this.onerror=null");
	initialization();
</script>