<div class="footer">
  <p class="text-left"><%- theme.footer.left %></p>
  <p class="text-right"><%- theme.footer.right %></p>
</div>

<%- partial('./animation') %>

<% if(theme.colored_eggs.reverse) { %>
	<script>Fool();</script>
<% }if(theme.special){ %>
	<script>if(!Readdata("special")) $("html").addClass("<%= theme.special %>");</script>
<% } %>

<script id="MathJax-script" async src="<%= theme.cdn.js.mathjax %>"></script>
<script>
	MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},svg: {fontCache: 'global'}};
</script>

<script>
	if(!Readdata("color")) $("html").addClass("color-<%= theme.color_schemes %>");
	initialization();
</script>