<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="msvalidate.01" content="A7B4DB5A7BF5E5C6E52E34BB024D6319" />
  <meta name="description" content="<%- config.description %>">
  <meta http-equiv='content-language' content='zh-cn'>
  <title>
  	<% if (page.current>1) { %>
  	    <%= _p('Pages',page.current) %> |
  	<% } %>

    <% if(page.title){ %>
  		<%= page.title %> |
  	<% }else if(page.category){ %>
  		<%= __('Menu.Categories') %> <%= page.category %> |
  	<% }else if (page.tag) { %>
  	  <%= __('Menu.Tags') %> <%= page.tag %> |
  	<% }else if (page.archive) { %>
  	  <%= __('Menu.Archives') %> |
  	<% }else{} %>

  	<%= config.title %>
  </title>
  <script src="<%- theme.cdn.js.jquery %>"></script>
  <script src="<%- theme.cdn.js.anime %>"></script>
  <script src="<%- theme.cdn.js.pjax %>"></script>
  <script src="/js/core/main.js"></script>
  <script src="<%- theme.cdn.js.gitalk %>"></script>
  <script src="/js/core/search.js"></script>
  <link rel="stylesheet" href="<%- theme.cdn.css.katex %>">
  <link rel="stylesheet" href="<%- theme.cdn.css.gitalk %>">
  <link href="<%- theme.cdn.css.googlefont %>/css?family=<%- theme.font %>" rel="stylesheet">
  <link href="<%- theme.cdn.css.googlefont %>/css?family=<%- theme.mono_font %>" rel="stylesheet">
  <link rel="stylesheet" href="<%= theme.cdn.css.fontawesome %>">
  <link rel="stylesheet" href="<%= theme.cdn.css.highlight %>">
  <link rel="stylesheet" href="<%= theme.cdn.css.bootstrap %>">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/colors/std.css">
  <link rel="stylesheet" type="text/css" href="/css/colors/white.css">
  <link rel="stylesheet" type="text/css" href="/css/colors/night.css">
  <link rel="stylesheet" type="text/css" href="/css/colors/trans.css">
  <link rel="stylesheet" type="text/css" href="/css/special/grayscale.css">
  <link rel="stylesheet" type="text/css" href="/css/special/invert.css">
</head>