<div class="sidebar">
  <div class="avatar-container">
  	<img src="<%= theme.avatar.url %>" class="avatar <%= theme.avatar.effect %>" />
  </div>
  <div class="sidebar-author">
    <%= config.author %><br />
    <span class="mini-text"><%= theme.short_des %></span>
  </div>
  <div class="sidebar-list-container">
  <div class="mini-text"><%= __('Sidebar_list') %></div>
    <div style="height: 10px;"></div>
  	<% for (name in theme.Menu) { %>
  	 <% if(url_for(page.path)==url_for(theme.Menu[name])) { %>
  	   <a class="list-group-item-current" href="<%- url_for(theme.Menu[name]) %>"><div><i class="fa <%= theme.icon[name] %> fa-fw" aria-hidden="true"></i>&nbsp; <%- __('Menu.' + name) %></div>
  	 <% }else{ %>
  	   <a class="list-group-item" href="<%- url_for(theme.Menu[name]) %>"><div><i class="fa <%= theme.icon[name] %> fa-fw" aria-hidden="true"></i>&nbsp; <%- __('Menu.' + name) %></div>
  	 <% } %>
  	    <% if(name=="Archives"){ %>
  	    	<div class="badge"><%= site.posts.length %></div>
  	    <% }else if(name=="Tags"){ %>
  	    	<div class="badge"><%= site.tags.length %></div>
  	    <% }else if(name=="Categories"){ %>
  	    	<div class="badge"><%= site.categories.length %></div>
  	    <% }else{} %>
      </a>
    <% } %>
      <!-- for overflow -->
      <div style="height: 200px;"></div>
  </div>


  <div class="sidebar-footer">
  	<div class="item" id="backtop">
  		<i class="fa fa-arrow-circle-up" aria-hidden="true"></i><div class="mini-text"><%= __('B2D') %></div>
  	</div>
  	<div class="item">
  		<a href="/atom.xml"><i class="fa fa-feed" aria-hidden="true"></i><div class="mini-text">RSS</div></a>
  	</div>
  	<div class="item">
  		<a href="<%= url_for(theme.Search) %>"><i class="fa <%= theme.icon.Search %>" aria-hidden="true"></i><div class="mini-text"><%= __('Search') %></div></a>
  	</div>
  </div>
</div>