<div class="vertical toolbar">
  <div class="tab-page">
    <div class="tabTitle tb-tabTitle">
      <ul>
        <li class="current"><i class="fa fa-random"></i></li>
        <li><i class="fa fa-refresh"></i></li>
        <% if(theme.toolbar_third){ %>
        <li><i class="fa fa-circle-o-notch"></i></li>
        <% } %>
     </ul>
    </div>
    <div class="tabContent tb-tabContent">
      <div>

<!--  1-tab  -->
<div class="title"><%- __('Toolbar.Random.title') %><span class="sidetitle"><%- __('Toolbar.Random.subtitle') %></span></div>
<div class="item no-lrpadding">
  <%- list_posts({
    orderby: 'random',
    style: 'block',
    separator: '',
    amount: theme.toolbar_amount,
    transform(str) {
      return '<div class="title_fa"><i class="fa fa-file-text-o fa-border" style="height: 30px;border: none;"></i><div class="title">'+str+'</div></div>';
    }
  }) %>
</div>
<!--  END 1-tab  -->

      </div>
      <div class="hide">
<!--  2-tab  -->

<div class="title"><%- __('Toolbar.Refresh.title') %><span class="sidetitle"><%- __('Toolbar.Refresh.subtitle') %></span></div>
<div class="item no-lrpadding">
  <%- list_posts({
    orderby: 'updated',
    style: 'block',
    separator: '',
    amount: theme.toolbar_amount,
    transform(str) {
      return '<div class="title_fa"><i class="fa fa-file-text-o fa-border" style="height: 30px;border: none;"></i><div class="title">'+str+'</div></div>';
    }
  }) %>
</div>
<!--  END 2-tab  -->

      </div>
      <div class="hide">
<!--  3-tab  -->

<% if(theme.toolbar_third){ %>
  <div class="title"><%- __('Toolbar.Another.title') %><a
    data-bs-toggle="tooltip" href="
    javascript: document.body.contentEditable='true';
    document.designMode='on';void(0);"
    title="<%- __('Toolbar.Another.coloregg') %>"
    target="_self" class="sidetitle"><%- __('Toolbar.Another.subtitle') %></a></div>

  <div style="height: 10px;"></div>

  <div class="item">
    <tag style="display: inline-block;">Hitokoto</tag><br><br>
    <div id="hitokoto"><%- _p('hitokoto',config.author) %></div>
    <script>
      fetch('https://v1.hitokoto.cn')
        .then(function (res){return res.json();})
        .then(function (data) {
          $("#hitokoto").html(data.hitokoto+"<br><br><div style='text-align: right;'>——"+data.from+"</div>");
        })
        .catch(function (err) {console.error(err);})
    </script>
  </div>

  <div class="item">
    <div id="timeprogress"></div>
    <script>
      var myDate = new Date();
      var hours = myDate.getHours();
      var minutes = myDate.getMinutes();
      minutes = hours * 60 + minutes;
      var pro = minutes / 14.4;
      var innerhtml="\
        <div class='progress' style='height: 20px'>\
          <div data-bs-toggle='tooltip'\
               class='progress-bar'\
               title='<%- __('Progress') %>"+pro.toFixed(2)+"%'\
               style='width: "+pro+"%;\
               background: #4caf50; color: #fff;'>"
               +pro.toFixed(0)+"%\
          </div>\
        </div>";
      document.getElementById("timeprogress").innerHTML = innerhtml;
    </script>
  </div>
<% } %>
<!--  END 3-tab  -->

      </div>
    </div>
  </div>

  <% if(theme.toolbar_info){ %>
  <div class="item">
    <div class="title"><%- __('Info.name') %></div>
    <div class="list-group">

      <div class="list-group-item"><div><i class="fa fa-file-text-o fa-fw"></i>
        <%- __('Info.count') %></div><div class="badge"><%- site.posts.length %></div>
      </div>

      <div class="list-group-item"><div><i class="fa fa-refresh fa-fw"></i>
        <%- __('Info.update') %></div><div class="badge"><%- date(page.updated, "MM-DD") %></div>
      </div>

      <div class="list-group-item"><div><i class="fa fa-font fa-fw"></i>
        <%- __('Info.words') %></div><div class="badge"><%- totalcount(site) %></span></div>
      </div>

      <% if(theme.pageview.waline.enable){ %>
        <div class="list-group-item">
          <span><i class="fa fa-fw fa-user"></i>
            <%- __('Info.Pageview_') %><div class="badge"><span i class="waline-pageview-count"/>
          </span></div>
        </div>
      <% } %>
      
    </div>
  </div><% } %>

  <% if(toc(page.content,{list_number: false})||page.password){ %><!-- 标签可能太多，影响目录 -->
    <div class="post-toc">
      <div class="title"><%- __('Post_Toc') %></div>
      <div class="post-toc-inner"></div>
    </div>
    <script>
      function run_tocbot(){
        tocbot.init({
          tocSelector: '.post-toc-inner',
          contentSelector: '.post-text',
          headingSelector: 'h1, h2, h3, h4, h5, h6',
          hasInnerContainers: true,
        });
      }
      <% if(page.password){ %>
        addEventListener('hexo-blog-decrypt', run_tocbot);
      <% }else{ %>
        run_tocbot();
      <% } %>
    </script>
  <% }else if(theme.tag_cloud.enable){ %>
    <div class="item">
      <div class="title"><%- __('Tag_Cloud') %></div>
      <div class="toolbar-tag-cloud">
        <%- tagcloud({
          min_font: theme.tag_cloud.font.from,
          max_font: theme.tag_cloud.font.to,
          amount: 200,
          color: true,
          start_color: theme.tag_cloud.color.from,
          end_color: theme.tag_cloud.color.to
        }) %>
      </div>
    </div>
  <% } %> 

  <script>
    $(function(){
      var ali = $('.tb-tabTitle>ul>li');
      var aDiv = $('.tb-tabContent>div');
      var timeId = null;
      ali.click(function(){
        var _this = $(this);
        timeId = setTimeout(function(){
          _this.addClass('current').siblings().removeClass('current');
          var index = _this.index();
          aDiv.eq(index).show().siblings().hide();
        });
      });
  });
  </script>
</div> 